.main {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family: "Ibarra Real Nova", serif;
}

.del {
  background-color: rgb(44, 40, 40);
  color: azure;
  border: 1px;
  font-size: 17px;
  font-weight: bold;
  font-family: "Ibarra Real Nova", serif;
  border-radius: 15px;
  margin-top: 5px;
  width: 100px;
  height: 30px;
  border: none;
  margin-right: 5vw;
}

.del:hover {
  background-color: rgb(225, 211, 211);
  color: rgb(24, 29, 29);
  border: 1px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Ibarra Real Nova", serif;

  transition: 500ms;
}
.ap {
  display: flex;

  font-size: 23px;
  font-weight: bold;
  font-family: "Ibarra Real Nova", serif;
}
